<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDAO" class="ru.otus.spring01.hw.dao.QuestionDAOCSVImpl">
    </bean>

    <bean id="examService" class="ru.otus.spring01.hw.service.ExamServiceImpl">
        <constructor-arg ref="questionDAO" name="questionDAO"/>
        <constructor-arg ref="examUI" name="examUI"/>
    </bean>

    <bean id="examUI" class="ru.otus.spring01.hw.ui.ExamUIConsoleImpl">
    </bean>
</beans>